
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>



<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<title>Dashboard - SB Admin</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link href="css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

	<span th:replace="fragments/header :: nav"></span>
	<div id="layoutSidenav">

		<span th:replace="fragments/nav :: navside"></span>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Dashboard</h1>


					<div class="row">

						<div class="col-xl-12">
							<div class="card">
								<div class="card-body">

									<div class="table-responsive">
										<div id="zero_config_wrapper"
											class="dataTables_wrapper container-fluid dt-bootstrap4">

											<div class="row" style="margin-bottom: 10px">

												<div class="col-sm-6">

													<label>Search:<input id="searchInput"
														onKeyUp="getTableData(this.value)" type="search"
														class="form-control form-control-sm" th:value="${keyword}"
														placeholder="" aria-controls="zero_config"></label>

												</div>
												<div class="offset-4 col-sm-2" style="margin-top: 10px">
													<button class="btn btn-success" style="float: right"
														data-toggle="modal" data-target="#addModal" data-mode="add" data-id="Add">Add
														User</button>
												</div>
											</div>
											<div id="tableContent"></div>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>


<!-- #modal -->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute;
    bottom: 20px;
    right: 20px;">
  <div class="toast-header">
   
    <strong class="mr-auto">Alert</strong>
    
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" id="toastMessage">
    Hello, world! This is a toast message.
  </div>
</div>




	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="confirmHeader">
                ...
            </div>
            <div class="modal-body" id="confirmBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" id="cModalCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
	</div>



			<span th:replace="fragments/footer :: footer"></span>

		</div>
	</div>




	<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">Add User</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
					
					<input type="hidden" class="form-control" id="f_id">
						<div class="form-group">
							<label for="f_name" class="col-form-label">Name:</label> <input
								type="text" class="form-control" id="f_name">
						</div>
						<div class="form-group">
							<label for="f_username" class="col-form-label">Username:</label>
							<input type="text" class="form-control" id="f_username">
							<div style="height:10px;margin-bottom:30px"><label  for="f_username" id="usernameStatus" class="col-form-label text-danger " style="display:none; float: right;">Username Already Exist</label></div>
						</div>
						<hr>
						<label for="f_role" class="col-form-label">Role: </label>
						<div class="form-check-inline" style="margin-left: 12px;">

							<input class="form-check-input" style="margin: 5px;" type="radio"
								name="f_role" value="ROLE_ADMIN"> <label
								class="form-check-label" for="flexRadioDefault1"> ADMIN
							</label>
						</div>
						<div class="form-check-inline">
							<input class="form-check-input" style="margin: 5px;" type="radio"
								name="f_role" value="ROLE_USER" checked> <label
								class="form-check-label" for="flexRadioDefault2"> USER </label>
						</div>
						<hr>
						<label for="f_role" class="col-form-label">Status:</label>
						<div class="form-check-inline">

							<input class="form-check-input" value="true" style="margin: 5px;"
								type="radio" name="f_enabled" checked> <label
								class="form-check-label" for="flexRadioDefault1">
								ENABLED </label>
						</div>
						<div class="form-check-inline">
							<input class="form-check-input" value="false"
								style="margin: 5px;" type="radio" name="f_enabled"> <label
								class="form-check-label" for="flexRadioDefault2">
								DISABLED </label>
						</div>
						<hr>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Password:</label>
							<input type="password" class="form-control" id="f_password">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Confirm
								Password:</label> <input type="password" class="form-control"
								id="f_confirm_password">
						</div>
						
						<div class="form-group">
							<label for="" id="f_status" class="col-form-label text-danger"></label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="closeModal" type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" id="submitButton" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script src="js/datatables-simple-demo.js"></script>

	<script>
	
	var currentUsername = "[[${#httpServletRequest.remoteUser}]]";
	
	var userValid = false;
	
	function validate()
	{
				formValid = true;
				
				password = $("#f_password").val();
				confirmPassword = $("#f_confirm_password").val();
				
				if($("#f_name").val().trim().length<3)
					{
						formValid = false;
						$("#f_status").html("Name should be atleast 3 characters long");
					}
				
				else if($("#f_username").val().trim().length<4)
					{
						$("#f_status").html("Username should be atleast 4 characters long");formValid = false;
					}
				else if(!userValid)
					{
						$("#f_status").html("Username Already Exist. Choose a different username");
						formValid = false;
					}
				
				
			
				else if(password.length <8  )
		  			{
		  			
		  				formValid = false;
		  				$("#f_status").html("Password should be atleast 8 character long");
		  			}
		  		else if(password != confirmPassword)
		  			{
		  				formValid = false;
	  					$("#f_status").html("Password and Confirm passwords doesn't match");
		  			}
				if (formValid)
				{
					name = $("#f_name").val();
					username = $("#f_username").val();
					password = $("#f_password").val();
					role = $('input[name="f_role"]:checked').val();
					enabled = $('input[name="f_enabled"]:checked').val();
					
					data = '{ "name" : "'+name+'" , "username" : "'+username+'" , "password" : "'+password+'" , "role" : "'+role+'" , "enabled" : "'+enabled+'" }';	
				
					$.ajax({
						  type: "POST",
						  url: "ajax/addUser",
						  data: data,
						  contentType: "application/json; charset=UTF-8",
						  success: function(data){
							  if(data == "success")
								  {
									  getTableData($("#searchInput").val());
									  $("#closeModal").click();
									  $("#toastMessage").html("<span class='text-success'>User "+username+" created!</span>");
									  $('.toast').toast('show');
								  }
							  else
								  {
								 	 getTableData($("#searchInput").val());
								 	 $("#toastMessage").html("<span class='text-danger'>User creation failed!</span>");
								 	 $('.toast').toast('show');
								  }
						  }
						 
						});
					
					
					
				}
		
	
	}
	
	
	function validateEdit()
	{
				formValid = true;
				
				password = $("#f_password").val();
				confirmPassword = $("#f_confirm_password").val();
				
				if($("#f_name").val().trim().length<3)
					{
						formValid = false;
						$("#f_status").html("Name should be atleast 3 characters long");
					}
				
				else if($("#f_username").val().trim().length<4)
					{
						$("#f_status").html("Username should be atleast 4 characters long");formValid = false;
					}
							
			
				else if(password.length >0 && password.length <8  )
		  			{
		  			
		  				formValid = false;
		  				$("#f_status").html("Password should be atleast 8 character long");
		  			}
		  		else if((password != confirmPassword) && password.length >0)
		  			{
		  				formValid = false;
	  					$("#f_status").html("Password and Confirm passwords doesn't match");
		  			}
				
				
				if (formValid)
				{
					name = $("#f_name").val();
					id = $("#f_id").val();
					username = $("#f_username").val();
					password = $("#f_password").val();
					role = $('input[name="f_role"]:checked').val();
					enabled = $('input[name="f_enabled"]:checked').val();
					
					data = '{"id" : '+id+', "name" : "'+name+'" , "username" : "'+username+'" , "password" : "'+password+'" , "role" : "'+role+'" , "enabled" : "'+enabled+'" }';	
				
					$.ajax({
						  type: "POST",
						  url: "ajax/updateUser",
						  data: data,
						  contentType: "application/json; charset=UTF-8",
						  success: function(data){
							  if(data == "success")
								  {
									  getTableData($("#searchInput").val());
									  $("#closeModal").click();
									  $("#toastMessage").html("<span class='text-success'>User "+username+" updated!</span>");
									  $('.toast').toast('show');
								  }
							  else
								  {
								 	 getTableData($("#searchInput").val());
								 	 $("#toastMessage").html("<span class='text-danger'>User updation failed!</span>");
								 	 $('.toast').toast('show');
								  }
						  }
						 
						});
					
					
					
				}
		
	
	}
	
	
		function resetValues() {

			$("#usernameStatus").hide();
			$('input[type="text"]').each(function() {
				$(this).val("");
			});
			$('input:radio[name="f_role"]').prop('disabled', false);
			$('input:radio[name="f_enabled"]').prop('disabled', false);
			$('input[type="password"]').each(function() {
				$(this).val("");
			});
			$("#f_username").prop('disabled', false);
			$("input[name=f_role][value=ROLE_USER]").prop('checked', true);
			$("input[name=f_enabled][value=true]").prop('checked', true);
			
		
		}

		function getTableData(keyword) {

			$.get("ajax/tableContent?query=" + keyword, function(data, status) {
				//alert("Data: " + data + "\nStatus: " + status);
				$("#tableContent").html(data);

			});

		}
		
		function setValues(id)
		{
			$.get("ajax/getUserDataById?id=" + id, function(data, status) {
				//alert("Data: " + data + "\nStatus: " + status);
				$("#f_name").val(data.name);
				$("#f_username").val(data.username);
				$("#f_username").prop('disabled', true);
				$("#usernameStatus").hide();
				$("#f_id").val(data.id);
				$('input:radio[name="f_role"]').filter('[value="'+data.role+'"]').attr('checked', true);
				$('input:radio[name="f_enabled"]').filter('[value="'+data.enabled+'"]').attr('checked', true);
				
				if(currentUsername == data.username)
					{
					$('input:radio[name="f_role"]').prop('disabled', true);
					$('input:radio[name="f_enabled"]').prop('disabled', true);
					}

			});
		}
		
		
		
		
		$(document).ready(function() {

			getTableData($("#searchInput").val());

			$("#f_username").on("keyup", function() {
				var username = $(this).val();
				$.get("ajax/checkUsername?username=" + username, function(data, status) {
					//alert("Data: " + data + "\nStatus: " + status);
					if(data == true)
						{
						$("#usernameStatus").show();
						userValid = false;
							$("#usernameStatus").html("Username Already Exist");
							$("#usernameStatus").removeClass("text-success");
							$("#usernameStatus").addClass("text-danger");
							
						}
					else
						{
						
						if(username.length>3)
							{
							userValid = true;
								$("#usernameStatus").show();
								$("#usernameStatus").html("Username Available");
								$("#usernameStatus").removeClass("text-danger");
								$("#usernameStatus").addClass("text-success");
							}
							else
							{
								$("#usernameStatus").hide();
							}
							}

				});
				
			});
			
			
			
			
		
			

		});

		$('#confirm-delete').on('click', '.btn-ok', function(e) {

			  var $modalDiv = $(e.delegateTarget);
			  var id = $(this).data('recordId');
			  var username = $(this).data('username');
			  $modalDiv.addClass('loading');
			  $.post('/ajax/deleteUser/' + id).then(function() {
			     $modalDiv.modal('hide').removeClass('loading');
			     getTableData($("#searchInput").val());
			 	 $("#toastMessage").html("<span class='text-success'>User "+username +" deleted!</span>");
			 	 $('.toast').toast('show');
			 	 $('#cModalCancel').click();
			  });
			});

			// Bind to modal opening to set necessary data properties to be used to make request
			$('#confirm-delete').on('show.bs.modal', function(e) {
			  var button = $(e.relatedTarget) ;
			  
			  console.log(button.data('id'));
			  $("#confirmHeader").text("Confirm Delete?");
			  $("#confirmBody").text("Do you really want to delete user "+ button.data("username") + "?");
			  $('.title', this).text("Do you really want to delete user "+ button.data("username") + "?");
			  $('.btn-ok', this).data('recordId', button.data("id")).data('username', button.data("username"));
			});
		
		$('#addModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var id = button.data('id') // Extract info from data-* attributes
			// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var mode = button.data('mode')
			
			var modal = $(this)

			if(mode == "add")
				{
				$("#submitButton").off("click");
				
				$("#submitButton").on("click",function(){
					
					validate();
					
				});
					resetValues();
				}
			else if(mode =="edit")
				{
				
				$("#submitButton").off("click");
				
				$("#submitButton").on("click",function(){
					
					validateEdit();
					
				});
				setValues(id);
					
				}
				
			//	modal.find('.modal-title').text('New message to ' + recipient)
			//modal.find('.modal-body input').val(recipient)
		})
	</script>
</body>
</html>
