
<div class="row">
	<div class="col-sm-12" style="max-height: 60vh; overflow: scroll;">
		<table id="zero_config"
			class="table table-striped table-bordered dataTable" role="grid"
			aria-describedby="zero_config_info">
			<thead>
				<tr role="row">
					<th class="sorting_asc" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1" aria-sort="ascending"
						aria-label="Name: activate to sort column descending"
						style="width: 362.391px;">Policy Name</th>

					<th class="sorting" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1"
						aria-label="Position: activate to sort column ascending"
						style="width: 556.219px;">Url</th>


					<th class="sorting" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1"
						aria-label="Position: activate to sort column ascending"
						style="width: 556.219px;">User(s)</th>

					<th class="sorting" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1"
						aria-label="Office: activate to sort column ascending"
						style="width: 286.141px;">Group(s)</th>


					<th class="sorting" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1"
						aria-label="Position: activate to sort column ascending"
						style="width: 556.219px;">Status</th>

					<th class="sorting" tabindex="0" aria-controls="zero_config"
						rowspan="1" colspan="1"
						aria-label="Position: activate to sort column ascending"
						style="width: 556.219px;">Actions</th>

				</tr>
			</thead>
			<tbody>

				<tr th:if="${#lists.isEmpty(data)}">
					<td colspan="7"><div class="alert alert-primary" role="alert">
							No items Found!</div></td>
				</tr>

				<tr role="row" th:each="item , rowstat : ${data}">
					<td style="width: 16%"
						th:classappend="${rowstat.odd} ? 'odd' : 'even'"
						th:text="${item.policyName}" />


					<td style="width: 16%"
						th:classappend="${rowstat.odd} ? 'odd' : 'even'"
						th:text="${item.restrictedUrl}" />



					<td style="width: 18%"
						th:classappend="${rowstat.odd} ? 'odd' : 'even'" />
					<h6>
						<span
							th:text="${item.restrictUsersByDefault  ? 'Restricted for:' : 'Allowed For:'}" />
					</h6>
					<ul th:each="user , index : ${item.allowedUsers}"
						style="list-style: none; overflow: auto; max-height: 50px">
						<li th:text="${ user.name + ' (' + user.username+ ')'}" />
					</ul>


					</td>
					<td style="width: 18%"
						th:classappend="${rowstat.odd} ? 'odd' : 'even'" />
					<h6>
						<span
							th:text="${item.restrictGroupsByDefault  ? 'Restricted for:' : 'Allowed For:'}" />
					</h6>
					<ul th:each="group , index : ${item.allowedGroups}"
						style="list-style: none; overflow: auto; max-height: 50px">
						<li th:text="${ group.groupName +'' }" />
					</ul>


					</td>

					<td style="width: 5%"
						th:classappend="${rowstat.odd} ? 'odd' : 'even'"
						th:text="${item.enabled} ? 'Enabled' : 'Disabled'" />

					<td>
						<button class="btn btn-primary" data-toggle="modal"
							data-target="#addModal" th:attr="data-id=${item.id}"
							data-mode="edit">Edit</button>
						<button class="btn btn-danger" data-toggle="modal"
							data-target="#confirm-delete"
							th:attr="data-id=${item.id},data-policyname=${item.policyName}">
							Delete</button>
					</td>

				</tr>



				</button>
			</tbody>

		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-5">
		<div class="dataTables_info" id="zero_config_info" role="status"
			aria-live="polite"
			th:text="'Showing ' + ${#lists.size(data)} + ' entries'">Showing
		</div>
	</div>

</div>


